/* Global */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    height: 95vh;
    margin: 0;
    background-color: black;
}

.row>* {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.case {
    height: 250px;
    color: white;
}

a {
    color: white !important;
}

a:link {
    text-decoration: none !important;
}

span {
    cursor: pointer;
    margin: 0rem 2rem;
}

span:hover {
    font-weight: 600;
}

.blur {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(3px);
}

/* Cases */

.case-1 {
    background: url(img/quadrantids-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.case-2 {
    background: url(img/lunar-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.case-3 {
    background: url(img/annular-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.case-4 {
    background: url(img/perseid-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.case-5 {
    background: url(img/eta-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.case-6 {
    background: url(img/geminids-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.case-7 {
    background: url(img/tempel-background.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.case-8 {
    background: url(img/aphosis-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.case-9 {
    background: url(img/halley-background.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 550px) {
    body {
        font-size: 1.5rem;
    }
}